<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>

    {% include "header_head.html" %}
</head>
<body>
    {% include "header_body.html" %}

    {{ book.name }}
    <div class="container" style="padding-top: 10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <th>Current Quality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for key, value in info.items %}
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>