<nav class="navbar navbar-inverse" style="border-radius:0px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Library</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/book">Books</a></li>
            <li><a href="/author">Authors</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Search<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/search_author">Author</a></li>
                    <li><a href="/search_book">Book</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
            <li><a href="#">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if isLoggedIn %}
                <li><a href="{% url 'user-panel' %}"><span class="glyphicon glyphicon-user"></span> {{ username }}</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
