<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    {% include "header_head.html" %}
</head>
<body>
    {% include "header_body.html" %}
    <div class="container" style="width:500px;height:500px">
        <form class="form-signin" method="post" action="login">{% csrf_token %}
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="username" class="sr-only">Username</label>
            <input id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" class="form-control" placeholder="Password" required="" type="password">
            <div class="checkbox mb-3">
            <label>
                <input value="remember-me" type="checkbox"> Remember me
            </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>