<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    {% include "header_head.html" %}
</head>
<body>
    {% include "header_body.html" %}

    <form method="post" action="/update_user_info">{% csrf_token %}
        <div class="container" style="padding-top: 10px; width:100%; height:100%">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>username</td>
                        <td><input type="text" name="username" value="{{ username }}"></td>
                    </tr>
                    <tr>
                        <td>first name</td>
                        <td><input type="text" name="first_name" value="{{ first_name }}"></td>
                    </tr>
                    <tr>
                        <td>last name</td>
                        <td><input type="text" name="last_name" value="{{ last_name }}"></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{{ email }}</td>
                    </tr>
                    <tr>
                        <td>phone number</td>
                        <td><input type="text" name="phone_number" value="{{ phone_number }}"></td>
                    </tr>
                    <tr>
                        <td>address</td>
                        <td><input type="text" name="address" value="{{ address }}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="submit">Change Info</button>
        <button type="reset password">Reset Password</button>
    </form>
</body>
</html>