<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>

    {% include "header_head.html" %}
</head>
<body>
    {% include "header_body.html" %}
    <div class="container" style="padding-top:10px; width:100%; height:100%">
        <div class="row">
            {% for book in books %}
            <div class="col-sm-3">
                <form action="/view_borrow_random/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{ book.id }}">
                    <a href="{{ book.id }}"><img src="{{ book.cover_img }}" class="custom-center"></a>
                    <p style="text-align: center">
                    {% for author in book.authors.all %}
                        {{ author.pen_name }},
                    {% endfor %}
                    </p>
                    <p style="text-align: center; font-size: large">{{ book.name }}</p>
                    <div class="custom-center">
                        <button style="margin-left: 100px" class="btn btn-success">borrow</button>
                        <button class="btn btn-info">more information</button>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>