<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Borrow Book</title>

    {% include "header_head.html" %}
    <script>
        $(document).ready(function() {
            var locale = 'en-GB';
            $.datepicker.setDefaults( {
                        changeMonth: true,
                        changeYear: true,
                } );
            $.datepicker.setDefaults( $.datepicker.regional[locale] )
            $('#datepicker').datepicker({ dateFormat: 'dd/mm/yy', minDate: new Date()}).datepicker("setDate", new Date());
        });
    </script>
    <script>
    $(document).ready(function() {
        $("#borrow").click(function () {
            $.post("/borrow_book",
            {
                bookcopy_id: document.getElementById('index').innerHTML,
                end_date: document.getElementById('datepicker').value.split("/").reverse().join('-')
            },
            function (data, status) {
                alert(data + status)
            });
        })
    })
    </script>
    <script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    </script>
    <script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    </script>
</head>
<body>
    {% include "header_body.html" %}

    <div class="container" style="padding-top: 10px; width:100%; height:100%">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>index</th>
                    <th>name</th>
                    <th>publish company</th>
                    <th>publish date</th>
                    <th>quality</th>
                    <th>start date</th>
                    <th>end date</th>
                    <th>borrow</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="index">{{ bookcopy.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.publish_company }}</td>
                    <td>{{ book.publish_date }}</td>
                    <td>{{ info }}</td>
                    <td>{{ current_time }}</td>
                    <td><input type="text" id="datepicker"><label name="current_time">&nbsp;{{ day_time }}</label>
                    </td>
                    <td>
                        <input type="button" id="borrow" value="borrow">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>