<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>

    {% include "header_head.html" %}

    <script>
        $(document).ready(function() {
            var locale = 'en-GB';
            $.datepicker.setDefaults( {
                        changeMonth: true,
                        changeYear: true,
                } );
            $.datepicker.setDefaults( $.datepicker.regional[locale] )
            $('#datepickerfrom').datepicker({dateFormat: 'yy-mm-dd'}).datepicker("setDate", new Date());
            $('#datepickerto').datepicker({ dateFormat: 'yy-mm-dd'}).datepicker("setDate", new Date());
        });
    </script>
</head>
<body>
    {% include "header_body.html" %}

    <form action="" method="post">{% csrf_token %}
        {{ form|linebreaks }}
        <input type="submit" value="search">
    </form>

</body>
</html>