<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>

    {% include "header_head.html" %}

    <script>
        $(document).ready(function() {
            var locale = 'en-GB';
            $.datepicker.setDefaults( {
                        changeMonth: true,
                        changeYear: true,
                } );
            $.datepicker.setDefaults( $.datepicker.regional[locale] )
            $('#datepickerfrom').datepicker({dateFormat: 'yy-mm-dd'}).datepicker("setDate", new Date());
            $('#datepickerto').datepicker({ dateFormat: 'yy-mm-dd'}).datepicker("setDate", new Date());
        });
    </script>
</head>
<body>
    {% include "header_body.html" %}

    <form action="search_book" method="post">{% csrf_token %}
        <label for="book_name">Name of The Book</label>
        <input type="text" id="book_name" name="book_name"><br/>
        <label for="author_name">Name of Author</label>
        <input type="text" name="author_name"><br/>
        <label for="publish_company">Publish Company</label>
        <input type="text" name="publish_company"><br/>
        <label for="publish_date">Publish Date</label>
        <input type="text" id="datepickerfrom" name="publish_from">
        <input type="text" id="datepickerto" name="publish_to">
        <input type="submit" name="search" value="search">
    </form>

</body>
</html>