<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>

    {% include "header_head.html" %}
</head>
<body>
    {% include "header_body.html" %}
    <div class="container" style="padding-top: 10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>name</th>
                    <th>pen_name</th>
                    <th>books</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <td>{{ author.name }}</td>
                        <td>{{ author.pen_name }}</td>
                        <td>
                            {% for book in author.books.all %}
                                {{ book.name }},
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>